extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box


        h1 Ryan Dusenbury


        p Full Stack JavaScript Developer


        .about-bio


          p I've worked in tech for 6 years in a customer support capacity. This has helped me learn invaluable skills, such as technical troubleshooting, implementation/project management and so much more. Adding more technical "under-the-hood" skills will make me even more well rounded as a professional techie. :-D


      .skills-contact-box.box
        h6 Skills


        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Project Management

        h6 Contact Info


        ul
          li 516 710 2315
          li ryan.dusenbury@gmail.com


        a.btn-link(href='https://www.linkedin.com/in/ryan-dusenbury-822520bb/') LinkedIn
        a.btn-link(href='https://github.com/ryand913') GitHub
        a.btn-link(href='https://twitter.com/?lang=en') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back