<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='./profpic.jpg', alt='Me!')
        .dev-intro-box

          //- Replace with your name
          h5 Ryan Dusenbury

          //- Replace with description of who you are, what you do, and why you are so awesome
          p I've worked in tech for 6 years and have provided customers tech support, configuration services and project management. I have used this course to enhance my technical capabilities. Outside of work, you can find me making music on my computer, playing guitar or laughing at TikToks.

          //- Add path from your '/about' route handler to the href below
          a(href='') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          //- Replace with your name — this is for the mobile layout
          span Ryan Dusenbury

      block content

  script(src='/static/js/script.js')