extends layout

block content
  h1= error.message
  h2= error.status
    p We are sorry, your search is not valid. Please update your URL and attempt your search again!

  a.btn-link(href='/') Home Page